body, html {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        height: 100vh;
        font-family: 'Monsterrat', sans-serif;
}

* {
    /* border: 1px dotted red; */
    box-sizing: border-box;
}

.page-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 6fr 2fr 3fr 3fr 4fr 6fr 3fr;
    grid-gap: 10px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main > * {
    padding-top: 50px;
    width: 70%;
}

.header {
    background-color: black;
    width: 100%;
}

.header * {
    color: white;
    font-weight: 75;
    text-decoration: none;
}

.announcement-bar {
    text-align: center;
    text-decoration: underline;
    font-size: .75em;
    padding: 20px 80px; 
    background-color: #222222;
}

.announcement-bar a {
    color: #a3a3a3;
}

nav {
    font-size: 1em;
    display: flex;
    padding: 0px 80px; 
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 40px;
}

.nav-options span{
    padding: 10px 16px;
}

.hero-image {
    display: flex;
    justify-content: center;
}

.made-possible {
    text-align: center;
    padding: 30px 0px;
}

.title{
    font-size: 1.25em;
    font-weight: 600;
    margin-bottom: 15px;
}

.explore-nearby {
    display: flex;
    flex-direction: column;
}

.city-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.city-card {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    display: flex;
    /* flex-wrap: wrap; */
}

.city-card > img {
    border-radius: 15%;
}

.explore-city-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
}

.explore-city-distance {
    font-size: .75em;
}

.live-anywhere {
    display: flex;
    flex-direction: column;
}

.live-anywhere-card-flex {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    font-size: .75em;
}

.live-anywhere-card img {
    width: 185px;
    border-radius: 5%;

}

.become-host {
    /* width: 100%; */
    border-radius: 15px;
    background-image: url(../images/become-host-image.webp);
    background-size: cover;
    background-position: center;
    height: 280px;
    margin-top: 50px;
    display: flex;
    padding: 0px;
}

.become-host-text-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    padding: 0 60px;
    justify-content: center;
}

.become-host-text-big {
    font-size: 2em;
}

.become-host-text-small {
    font-size: .75em;
}

.experience-section {
    display: flex;
    flex-direction: column;
    /* border: solid black 1px; */
}

.experience-flex {
    display: flex;
    /* border: solid black 3px; */
    height: auto;
    padding-top: 10px;
    justify-content: space-between;
}

.experience-card img{
    /* width: 25%; */
    border-radius: 5px;
    width: 250px;
    max-width: 100%;
    height: auto;
}

.experience {
    margin-bottom: 0px;
}

.experience-text-1 {
    font-size: 1em;
}

.experience-text2 {
    font-size: .75em;
}

.footer {
    background-color: #f7f7f7;
}

